html {
	background-image: url("imgs/projects.png");
}

li {
	display: inline;
	margin-right: 20px;
}

ul {
	float: right;
	margin-top: -60px;
}

h3 {
	color: white;
}

h1 {
	color: white;
}

a {
	color: white;
}