input {
	float: right;
}

li {
	display: inline;
	margin-right: 20px;
}

ul {
	float: right;
	margin-top: -40px;
}

div {
	border: 2px solid black;
	height: 400px;
	width: 525px;
	margin: 10px 10px 10px 10px;
	padding: 10px;
	display: inline-block;
}

div img {
	margin-top: 82px;
}

.blog1 {
	text-align: center;
}